html, * {
  box-sizing: border-box;
  margin: 0;
}

footer {
  background: #ddd;
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
  box-shadow: 0 0 5px #000;
}

footer ul {
  list-style-type: none;
  display: inline-flex;
  padding: 15px;
  gap: 8px;
}

footer ul li {
  background: #bbb;
  border-radius: 8px;
  border: 1px solid #000;
  padding: 8px;
  box-shadow: 1px 1px 5px #999, 1px 1px 5px #FFF inset;
}